* {
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
    margin-top: 0px;
    border-width: 1px;

  }

body {
    background-color: khaki;
    margin:10px;
    margin-left:auto;
    margin-right: auto;
    height: 1024px;
    

}
header{
    background-color: coral;
    height: 60px;
    padding-top: 0px;
    border-style: solid;

}
 h1{
    float:left;
    padding: 10px;
 }
 h2{
    margin: 10px;
    text-align: center;
    border-style:solid;
    width: 150px;
    height: 60px;
    padding: 13px;
    background-color: lightgray;
 }
nav{
    float: left;    
    
    
} 
nav li{
    
    display:inline-block;
    border-style: solid;
    padding: 19px;

}

ul{
    background-color: darkcyan;
    padding: 0px;
    list-style-type: none;
    /*width: 400px;*/
}


article {
    float: left;
    margin: 10px;
    border-style: solid;
    background-color: lightgray;
    width: 30%;
    height: 75%;
}

form{
    
    height: 90%;
}

img{
    width: 300px;
    position: relative;
}

.p1{
    margin: 10px;
    border-style: solid;
    background-color: lightgray;
    width: 60%;
    height: 10%;
    overflow: auto;
}
p{
    margin: 10px;
    background-color: lightgray;
    
}
